#root {
  /* margin: auto; */
  /* padding: 2rem; */
  text-align: center;
}

body {
  font-family: "Trebuchet MS", sans-serif;
}

p,
button,
label {
  color: #ffff;
}

.navbar {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0px;
  width: 300px;
  /* justify-content: space-around; */
  /* max-width: 100px; */
}

.appContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weatherInfo {
  display: flex;
  justify-content: space-around;
}

/* 
.inputContainer {
  display: "flex";
  justify-content: "center"
} */
